body {
  font-family: 'Raleway', sans-serif;
}

.hero {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://i.pinimg.com/originals/fd/24/18/fd241888067e23088c7883a923911bb4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  filter: brightness(60%);
}

.hero-content {
  position: relative;
  color: white;
  text-align: center;
  margin: 0.625rem;
}

.hero-title {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 0;
}

.hero-subtitle {
  font-size: 2rem;
  font-weight: 200;
  margin-top: 1rem;
}

.hero-button {
  background-color: teal;
  color: white;
  border: 1px solid black;
  margin-top: 5rem;
  padding: 0.9375rem 1.875rem;
  font-size: 1.125rem;
  font-weight: 200;
  cursor: pointer;
}

.hero-button:hover {
  background-color: 3ACFC3;
  border: 1px solid 08211F;
}

#menu {
  position: fixed;
  left: 10;
  top: 2%;
  /* width: 8em;
  margin-top: -2.5em; */
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-menu {
  display: inline;
  /* margin: 20px; */
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
}

a {
  text-decoration: none;
}

.navbar-link {
  color: grey;
}

.navbar-link:hover, .navbar-link:active {
  background-color: white;
  color: black;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.icon {
  height: 40px;
}

.project-grid-listing {
  list-style-type: none;
}
